@model SliderEditVM


@{
    ViewData["Title"] = "Edit";
}
<main id="main" class="main">
    <div class="container mt-5">
        <div class="image">
            <img src="~/img/@Model.Image" style="width:300px; height:200px" />
        </div>

        <form method="post" asp-action="Edit" enctype="multipart/form-data">
            <div class="forms-sample">
                <label for="exampleInputUsername1">Slider</label>
                <input class="form-control" asp-for="Image" maxlength="100" placeholder="Slider ..."></input>
                <span asp-validation-for="NewImage" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary mr-2 mt-3">Submit</button>
            <a class="btn btn-light mt-3" asp-action="Index">Cancel</a>
        </form>
    </div>
</main>


